:root {
  /* Colours */
  --color-bg: #6ccae97c; /* page background /*

  /* Header */
  --color-head-bg: light-dark(#fffae2, #f28900);

  .bliv_redet {
    color: black;
  }
  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: light-dark(#fffae2, #f28900);
  --font-logotype-size: 2rem;

  #toggle {
    max-width: 10em;
    max-height: 5em;
    padding: 0.2em;
    margin-left: 1.5em;
    background-color: light-dark(#fffae2, #f28900);
  }

  .info-box {
    padding: 2em;
  }
  .sub {
    font-size: 1.2em;
    padding: 1em;
    margin-right: 2em;
  }
  .logo {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .logo {
    height: 50px;
    width: auto;
  }
  #teaser_overskrift {
    color: white;
    padding: 1em;
  }
  .popup-button {
    display: inline-block;
    padding: 0.4rem 1rem;

    color: var(--color-text-inverted);
    text-decoration: none;
    width: max-content;
    border-radius: var(--border-radius);
    border-color: none;
  }

  h1 {
    margin-top: 2em;
    margin-left: 1em;
  }
  .sub {
    margin-left: 1em;
  }

  /* Global menu */
  --color-menu-bg: light-dark(#6f90eb, #002ea1);
  /* Links */
  --color-link-bg: light-dark(#fffae2, #f28900);
  --color-link-hover: #fff; /* used */
  --color-link-active: #000000; /* used */
  --border-radius-links: 70px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 2rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: light-dark(#fffae2, #f28900);

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #000000;

  /*  Marginer */
  --margin-head-bottom: 60px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #ffff;
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #f28900);
  --color-news-bg-inverted: #6f90eb;
  --color-cta-newscard-bg: light-dark(#ff4b00, #002ea1);
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fff;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #def5db;
}

footer {
  background-color: light-dark(#6f90eb, #002ea1);
  border-radius: 20px;
  padding: 2em;
  margin-top: 6em;
}

/* CSS Starter er tilføjet */
html {
  --color-heading: light-dark(#5000ca, #e0d3ff);
  --color-text: light-dark(#555, #cdc7dc);

  --color-bg: light-dark(#fff, #222);

  color: var(--color-text);
  background-color: var(--color-bg);
}

html.dark {
  color-scheme: dark;
}

h1 {
  color: var(--color-heading);
}

button {
  border-radius: 30px;
  background-color: light-dark(#fff, #f28900);
  padding: 0.2em;
  border-color: light-dark(#fffae2, #f28900);
  margin-right: 2em;
}
