#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/* start */

/* Gør form til grid */
#webform {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolonner */
  gap: 1.5rem; /* afstand mellem felter */
  max-width: 900px;
  margin: 0 auto; /* centrer formularen */
  gap: 40px;
}

/* .form-group = flex-kolonne, så label står over input */
.form-group {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  background-color: white;
}

/* Felter der skal fylde hele rækken */
.full-row {
  grid-column: 1 / 2;
}

#webform {
  margin-top: 5em;
  background-color: #fffae2;
  padding: 2em;
  border-radius: 30px;
}

.overskrift_form {
  grid-column: 1/3;
  text-align: center;
}
.form-group-text {
  grid-column: 1/3;
}

.check-boxes {
  background-color: white;
  grid-column: 1/3;
  border-radius: 40px;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  border: solid, black, 2px;
}

textarea {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  resize: vertical; /* så brugeren kan trække det større */
  box-sizing: border-box;
  background-color: white;
  grid-column: 2 / 3;
  text-align: center;
  border-radius: 40px;
  border: solid, black, 2px;
}

.form-group-accept {
  grid-column: 1/3;
  text-align: center;
}

.error-message {
  display: none;
}

.form-group:has(:required) {
  label::after {
    content: "*";
    color: red;
  }
}

/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}
.error-message {
  display: block;
}

.form-group-accept {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

button {
  background-color: black;
  color: white;
}

#form-summary {
  background-color: #fffae2;
  margin-top: 7.7em;
}
