/* LAYOUT FOR MAIN CONTENT */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  display: grid;
  row-gap: 1rem;
}
main > *:not(:first-child) {
  margin: 0 1rem;
}
main {
  grid-template-rows: min-content min-content 1fr min-content;
}
#instruction main {
  grid-template-rows: min-content min-content min-content 1fr min-content;
}
/* LAYOUT FOR HEADER AND FOOTER */
footer {
  display: grid;
  gap: 10px;
}

.sub_img {
  max-width: 260px;
  margin-top: 1.5em;
}

header nav,
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav > * {
  flex: 1;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
header ul {
  height: 100%;
  width: clamp(175px, 50%, 300px);
}
footer ul {
  flex-direction: column;
  padding-left: 1rem;
}

/* LAYOUT FOR SECTIONS */
#daily,
#breaking {
  display: grid;
}
#daily {
  grid-template-rows: repeat(2, minmax(200px, min-content));
  gap: 1rem;
}
#breaking {
  grid-template-rows: repeat(auto-fit, minmax(50px, min-content));
  gap: 0;
}

[popover] {
  &:popover-open {
    display: grid;
    padding: 7em;
    max-height: 90vh;
    max-width: 200ch;
    width: 90vw;
    margin-left: 4.5em;
    margin-top: 5em;
  }
  &::backdrop {
    background: #0008;
  }
}

.teaser2-indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teaser2 {
  grid-column: 2/3;
}

.p1 {
  grid-column: 1/2;
  grid-row: 1;
}

.fp_tekst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  text-align: left;
  line-height: normal;
}
p {
  grid-column: 1/-1;
}
h3 {
  margin-bottom: 2em;
  font-size: 1.5em;
}

.teaser1 {
  max-height: 300px;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-bottom: 3em;
  object-fit: cover;
}

@media (width > 600px) {
  #frontpage > main {
    grid-template-columns: 6fr 3fr;
    grid-template-rows: auto 1fr auto;
  }
  #instruction > main,
  #register > main {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto auto 1fr auto;
  }

  .qr {
    order: 1;
  }

  h1 {
    grid-column: 1 / -1;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
